body{
    margin-left: 270px !important;
    font-family: sans-serif;
}

.container-fluid{
 color: #97372f;

}
    /* Title */
h2 {
    color: #97372f;
    text-align: center;
}

h4 {
    color: #97372f;
    text-align: right;
    margin-right: 1%;
}
/* navigation */
.color{
    background-color: #97372f !important;
}

/* carousel */
.carousel-inner {
    width: 100%;
    height: 2%;
}

h3{
    text-align: center;
    margin-top: 500px;
}

